.mom-div{
    display:flex;
    height: 70vh;
    background-color: #1F2833;
    color: white;
}
.right_box{
    margin:80px 0px;
    width: 500px;

}
.left_box{
    margin:110px 300px;

}
form input{
    padding:8px;
    width:300px;
    text-align: center;
    border: 1px solid black;
    margin:8px;
}
form textarea{
    margin-left: 8px;
    padding:50px;
    width:300px;
    text-align: center;
    border: 1px solid black;
}
.submit button{ background-color: cadetblue;
    color: black;
    padding: 8px;

}
.submit{
    text-align: left;
    margin:8px 10px;
    width: 300px;
}
.submit button:hover{
    background-color: antiquewhite;
}