.cuboid {
    width: auto;
    margin: auto;
    height: 600px;
}

.mom_exp {
    display: flex;
    padding: 40px;
    padding-left: 20px;
    justify-content: space-evenly;
}

.card_papa {
    width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    margin-left: 40px;
}

body {
    background-color: #1F2833;
}

.card_head {
    width: 300px;
    height: 5em;
    background-color: #66FCF1;
    border-radius: 50px 0px;
}

.card_head h3 {
    width: 100px;
    margin: 0px;
    padding-top: 30px;
    padding-left: 110px;
}

.card_body {
    width: 270px;
    height: 278px;
    background-color: white;
    margin: 0px auto;
    color: black;
    padding: 15px;
}