.portfolio_body {
    height: auto;
    background-color: #1F2833;
}

.port_row1 {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 400px;
    grid-gap: 10px;
}

.port_row1 span img {
    width: 350px;
    height: 400px;
}

.wrap {
    width: 1000px;
    margin: auto;
    padding: 80px 0px;
    height: 600px;
}

.port_row1 .r1-c2-img img {
    height: 230px;
}

.port_row2 {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 400px;
    grid-gap: 10px;
    margin: 20px 0px;
}

.port_row2 span img {
    width: 350px;
    height: 230px;
}

.port_row2 .r2-c2-img img {
    height: 400px;
    margin: -170px 0px;
}

body {
    background: #1F2833;
}

.xya {
    text-align: center;
    width: 600px;
    margin: auto;

}

.xya p {
    line-height: 30px;
    color: #1F2833;
}

.xya_parent {
    background-color: white;
    height: 400px;
    padding: 50px 0px;
}