.rio-main {
    text-align: center;
}

.deo-main {
    width: 1100px;
    margin: auto;
    font-family: serif;
}

body {
    background-image: linear-gradient(to bottom, #1F2833, darkslategrey);
    color: white;
    height: auto;
}

.report_title {
    text-align: center;
}

.descri {
    margin: 0px;
}

.p_desc {
    margin: 8px 0px;
}

.parent_d {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.parent_d_left {
    width: 540px;
}

.parent_d_right img {
    width: 350px;
    height: 230px;
}

.valii-h img {
    height: 500px;
    width: 1100px;


}
@media only screen and (max-width: 700px){
    .deo-main{
        width: auto;
    
    }
    .parent_d{
        flex-direction: column;
    }
    .parent_d_left{
        width:auto;
    }
    .valii-h img{
        width: 375px;
        height:200px;
    
    }
    .parent_d_right img{
        width: 375px;
        height:200px;
    }
    
}