body {
    margin: 0px;
}

.nav-main {


    background-color: #1F2833;
    padding: 30px;

}

.nav-body {
    list-style-type: none;
    width: 701px;
    margin: 0px 700px;
}

.nav-main-body a {

    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-size: 27px;

}

a:hover {
    color: aqua;
}


.img-one {
    text-align: center;
    width: 600px;
    margin-top: 150px;
}

.img-one img {
    border-radius: auto;
    width: 300px;
    height: 380px;
}

.nav-main-body {
    display: inline
}

.hi-detail {
    padding-top: 2em;
    padding-left: 15em;
    font-family: 'Times New Roman', Times, serif;

}

.footer-one {

    display: flex;
    justify-content: space-around;
    background-color: #1F2833;
    padding: 60px;
    color: white;

}



hr {
    margin: 0px;
}

.main_body1 {
    height: 100vh;
    background-color: #1F2833;
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 640px;
}

.main_body1 h1 {
    margin: 0px;
}

.main_body1 h2 {
    color: rgb(200, 200, 200);
    line-height: 40px;
    padding-top: 170px;
}