body {
    margin: 0px;
}

.nav-main {


    background-color: #1F2833;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_main_left img {
    width: 160px;
    height: 100px;
}

.nav-body {
    list-style-type: none;
    width: 701px;

}

.nav-main-body a {

    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-size: 27px;

}

a:hover {
    color: aqua;
}


.img-one {
    text-align: center;
    width: 600px;
    margin-top: 120px;
}

.img-one img {
    width: 50%;
    border-radius: 35px;
}

.nav-main-body {
    display: inline
}

.hi-detail {
    padding-top: 2em;
    padding-left: 15em;
    font-family: 'Times New Roman', Times, serif;

}

.footer-one {

    display: flex;
    justify-content: space-around;
    background-color: #1F2833;
    padding: 60px;
    color: white;

}



hr {
    margin: 0px;
}

.main_body1 {
    height: auto;
    background-image: linear-gradient(100deg, #1F2833, darkslategrey);
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 640px;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 0.8s;
    animation-fill-mode: backwards;
    animation-direction: reverse;

}

.material-symbols-outlined {
    color: white;
    display: none;
}

@keyframes moving {
    0% {
        background-image: linear-gradient(100deg, #1F2833, darkslategrey);
    }

    20% {
        background-image: linear-gradient(120deg, #1F2833, darkslategrey);
    }

    40% {
        background-image: linear-gradient(140deg, #1F2833, darkslategrey);
    }

    60% {
        background-image: linear-gradient(160deg, #1F2833, darkslategrey);
    }

    80% {
        background-image: linear-gradient(180deg, #1F2833, darkslategrey);
    }

    100% {
        background-image: linear-gradient(200deg, #1F2833, darkslategrey);
    }

}

.main_body1 h1 {
    margin: 0px;
}

.main_body1 h2 {
    color: rgb(200, 200, 200);
    line-height: 40px;
}

.main_body_right {
    padding-top: 150px;
    color: white;
}

.title_main {
    font-size: 40px;
}

@media only screen and (max-width: 700px) {
    .footer-one {
        padding: 20px 0px;
    }

    .material-symbols-outlined {
        display: block;
    }



    body {
        font-size: 10px;
    }

    .main_body1 {
        grid-template-columns: auto;
        grid-template-rows: auto;

    }

    .img-one {
        width: 375px;
        margin-top: 40px;
    }

    .img-one img {
        width: 80%;
        height: auto;
    }

    .nav-body {
        display: none;
    }

    .main_body_right {
        padding-top: 40px;
    }

    .main_body_right h1 {
        font-size: 42px;
        text-align: center;
    }

    .my-detail {
        font-size: 30px;
        text-align: justify;
        padding: 20px;
    }
}